@model IEnumerable<MarketSENA.Models.Plantilla>

@{
    ViewData["Title"] = "Index";
}

<style>
    @@import url(https://fonts.googleapis.com/css?family=Raleway);

    .modelos {
        margin-top: 150px;
    }

    .snip1584 {
        font-family: 'Raleway', sans-serif;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 10px;
        min-width: 230px;
        max-width: 340px;
        width: 100%;
        color: #ffffff;
        font-size: 16px;
        text-align: left;
    }

        .snip1584 * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;
        }

        .snip1584:before {
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            top: 100%;
            content: '';
            background-color: rgba(51, 51, 51, 0.9);
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;
            -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
        }

        .snip1584 img {
            vertical-align: top;
            max-width: 100%;
            backface-visibility: hidden;
        }

        .snip1584 figcaption {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .snip1584 h3,
        .snip1584 h5 {
            margin: 0;
            opacity: 0;
            letter-spacing: 1px;
        }

        .snip1584 h3 {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            text-transform: uppercase;
            font-weight: 400;
            -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
            margin-bottom: 5px;
        }

        .snip1584 h5 {
            font-weight: normal;
            background-color: #5D6D7E;
            padding: 3px 10px;
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }

        .snip1584 a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }

        .snip1584:hover:before,
        .snip1584.hover:before {
            top: 10px;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }

        .snip1584:hover h3,
        .snip1584.hover h3,
        .snip1584:hover h5,
        .snip1584.hover h5 {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }

        .snip1584:hover h3,
        .snip1584.hover h3 {
            -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
        }

        .snip1584:hover h5,
        .snip1584.hover h5 {
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
        }
</style>

<section class="modelos">
    <div class="container">
        <div class="row">
            <div class="col">
                <figure class="snip1584">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
                    <figcaption>
                        <h3>Burgundy Flemming</h3>
                        <h5>Advertising</h5>
                    </figcaption><a href="#"></a>
                </figure>
                <figure class="snip1584">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample119.jpg" alt="sample119" />
                    <figcaption>
                        <h3>Nigel Nigel</h3>
                        <h5>Sound &amp; Vision</h5>
                    </figcaption><a href="#"></a>
                </figure>
                <figure class="snip1584">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample120.jpg" alt="sample120" />
                    <figcaption>
                        <h3>Caspian Bellevedere</h3>
                        <h5>Accounting</h5>
                    </figcaption><a href="#"></a>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <figure class="snip1584">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
                    <figcaption>
                        <h3>Burgundy Flemming</h3>
                        <h5>Advertising</h5>
                    </figcaption><a href="#"></a>
                </figure>
                <figure class="snip1584">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample119.jpg" alt="sample119" />
                    <figcaption>
                        <h3>Nigel Nigel</h3>
                        <h5>Sound &amp; Vision</h5>
                    </figcaption><a href="#"></a>
                </figure>
                <figure class="snip1584">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample120.jpg" alt="sample120" />
                    <figcaption>
                        <h3>Caspian Bellevedere</h3>
                        <h5>Accounting</h5>
                    </figcaption><a href="#"></a>
                </figure>
            </div>
        </div>
    </div>
</section>










@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ModeloNegocio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Visible)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModeloNegocio.ModeloNegocioID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visible)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlantillaID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PlantillaID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PlantillaID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
